#blncsearch .first_section_padding {
    padding-top: 10px
}

#blncsearch .expand_collapse_ui {
    float: left
}

#blncsearch .exp_glyph {
    margin-right: 15px
}

#blncsearch label {
    float: left;
    min-width: 70px;
    margin: 5px 5px 0 10px
}

#blncsearch .lbl_cat {
    margin: 25px 5px 0 10px
}

#blncsearch .lbl_co {
    margin: 22px 5px 0 10px
}

#blncsearch section{
    height: 100%;
}
#blncsearch .search_panel {
    min-width: 300px;
    width: 30%;
    float: left
}

#blncsearch .input-group {
    width: 100%;
    min-width: 300px
}

#blncsearch .select2-container {
    width: 28% !important;
    min-width: 300px;
    height: 25px;
    margin: 20px 0 5px 15px
}

#blncsearch .select2-choices {
    border-radius: 5px
}

#blncsearch #s2id_sel_category {
    margin-bottom: 100px
}

#blncsearch #search_box {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

#blncsearch, #blncsearch a{
    font-family: 'Ubuntu','sans-serif';
}