#wrapper {
    border: 1px solid #e0e0e0;
    min-height: 600px;
    height:800px;

}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #E4E0E0 !important;

}

.expand_collapse_ui {
    float: left
}

.btnLicense {
    margin-left: 15px;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

#loading_results {
    display: none;
    top: 50%;
    left: 50%;
    line-height: 600px;
    text-align: center;
    /*margin: -15% 0 0 -25%;*/
}

#left-categories {
    overflow-y: auto;
    height: auto !important;
    padding: 5px;
}

#right_results {
    overflow-y: auto;
    vertical-align: top;
    padding: 10px;
}

body, html {
    height: 100%;
}

#agency-tree {
    padding: 10px;
}


.tree-title {
    border: 0px solid #ddd;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Ubuntu', 'sans-serif';
}

#agency-tree {
    padding: 10px;
}

.btnLicense {
    width: 25px;
}

@media only screen and (max-width: 1100px) {

    #left-categories {

    }

    .btnLicense {
        width: 15px;
    }
}
